<template>
    <div class="Header">
        <button class="sign-up" @click="Modal">Sign Up</button>
    </div>
</template>

<script>
    export default {
        name: 'Header',
        methods: {
            Modal() {
                this.$emit('toggle-modal')
            }
        },
    }
</script>

<style scoped>
    .Header {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        width: 100%;
        height: 150px;
        background: #b7b7b7;
    }

    .Header .sign-up {
        display: inline-flex;
        align-items: center;
        height: 60px;
        background: #000;
        color: #fff;
        border-radius: 50px;
        border: 0;
        font-size: 28px;
        text-transform: uppercase;
        padding: 0 70px;
        margin-right: 30px;
        cursor: pointer;
    }
</style>
