<template>
    <div class="Main">
        <div class="block"></div>
        <div class="block"></div>
        <div class="block"></div>
        <div class="block"></div>
        <div class="block"></div>
        <div class="block"></div>
    </div>
</template>

<script>
    export default {
        name: "Main"
    }
</script>

<style scoped>
    .Main {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    .Main .block {
        max-width: 30%;
        width: 100%;
        height: 200px;
        background: #b7b7b7;
        margin: 20px 20px 0;
    }
    
    @media (max-width: 992px) {
        .Main .block {
            max-width: 40%;
        }
    }
    @media (max-width: 567px) {
        .Main .block {
            max-width: 100%;
        }
    }
</style>
