<template>
    <div class="Modal" @click="toggleModal">
        <div class="modal-window">
            <form action="/login" method="post" @submit.prevent="sendLogin" @click.stop>
                <input type="text" v-model="username" placeholder="UserName">
                <input type="password" v-model="password" placeholder="Password">
                <button type="submit">Submit</button>
            </form>
        </div>
    </div>
</template>

<script>
    export default {
        name: "Modal",
        data() {
            return {
                username: '',
                password: '',
                output: ''
            }
        },
        methods: {
            toggleModal() {
                this.$emit('toggle-modal')
            },
            sendLogin() {
                this.axios.post('http://localhost:8080/login', {
                    username: this.username,
                    password: this.password
                })
                    .then(function (response) {
                        this.output = response.data;
                    })
                    .catch(function (error) {
                        // eslint-disable-next-line no-console
                        console.log(error);
                    });
            }
        },
    }
</script>

<style scoped>
    .Modal {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        width: 100%;
        height: 100vh;
        background: rgba(51, 51, 51, 0.7);
    }

    .Modal .modal-window form {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 400px;
        height: 300px;
        background: #fff;
    }

    .Modal .modal-window form input {
        width: 70%;
        height: 32px;
        background: #ccc;
        border: 0;
        padding: 0 10px;
    }

    .Modal .modal-window form button {
        padding: 10px 30px;
        border: 0;
        background: #000;
        color: #fff;
        text-transform: uppercase;
        border-radius: 25px;
    }

    .Modal .modal-window input {
        margin-bottom: 15px;
    }

    @media (max-width: 576px) {
        .Modal .modal-window form {
            width: 100%;
            height: 200px;
        }
    }
</style>
