<template>
    <div id="app" :class="{modalOpen: this.isOpenModal}">
        <Modal v-if="isOpenModal" :class="{show: isOpenModal}" @toggle-modal="toggleModal" />
        <Header @toggle-modal="toggleModal" />
        <Main />
    </div>
</template>

<script>
    import Header from './components/Header.vue'
    import Main from "./components/Main";
    import Modal from "./components/Modal";

    export default {
        name: 'app',
        data() {
            return {
                isOpenModal: false
            }
        },
        methods: {
            toggleModal() {
                this.isOpenModal = !this.isOpenModal
            },
        },
        components: {
            Header,
            Main,
            Modal,
        }
    }
</script>

<style>
    @import "assets/css/main.css";
    #app.modalOpen {
      overflow: hidden;
      height: 100vh;
    }
</style>
